.ql-container{
    font-size: 28px !important;
}
.quill > .ql-container > .ql-editor.ql-blank::before{
    color: #b3b3b1;
}


.title{
    padding: 20px 30px;
    font-size: 54px;
    border: none;
    outline: none;
    background-color: transparent;
}
.title::placeholder{
    color: #b3b3b1;
}
.summary{
    outline: none;
    border: none;
    padding: 0 30px;
    background-color: transparent;
    font-size: 30px;
    padding-bottom: 20px;
}
.editor{
    display: flex;
    gap: 20px;
    height: 700px;
    position: relative;
}
.button{
    
}
.textArea{
    width: 100%;
    margin-top: 10px;
}
.file_input{
    background: transparent;
    border: 1px solid rgb(212, 212, 212);
    margin: 0;
    font-size: medium;
    padding: 10px;
}
.publish{
    position: fixed;
    bottom: 20px;
    right: 11em;
    padding: 8px 20px;
    font-size: 1.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1a8917;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}